---
http_interactions:
- request:
    method: get
    uri: https://www.fancyhands.com/api/v1/request/custom
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="7wCYTwlR9w8468KkhAtgzwn91aN7Pc7BHrG0G2abw0",
        oauth_signature="9AouOLtL2bDVkFDHiV9BxrbqMB0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1401246820", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cursor": null, "requests": [{"user_key": "ahBzfmZhbmN5aGFuZHMtaHJkcg8LEgZGSFVzZXIYx8L1BQw",
        "numeric_status": 21, "title": "Title", "content": "Desc", "date_updated":
        "2014-05-22T03:51:32.209710", "status": "Canceled", "bonus": 0.5, "price":
        0.84999999999999998, "api_bid": 1.0, "key": "ahBzfmZhbmN5aGFuZHMtaHJkciULEgZGSFVzZXIYx8L1BQwLEglGSFJlcXVlc3QYgICAgKj5hgoM",
        "phone_calls": [], "messages": [{"content": "Expired", "date_created": "2014-05-23T02:19:01.099760",
        "local_date_created": "2014-05-22T22:19:01.099760-04:00", "content_type":
        "text/plain"}], "date_created": "2014-05-22T03:51:31.925470"}, {"user_key":
        "ahBzfmZhbmN5aGFuZHMtaHJkcg8LEgZGSFVzZXIYx8L1BQw", "numeric_status": 21, "assistant_key":
        "ahBzfmZhbmN5aGFuZHMtaHJkcg8LEgZGSFVzZXIY7bylAww", "title": "hey jose", "content":
        "i am testing from a rails console", "date_updated": "2014-05-15T04:17:19.553000",
        "status": "Canceled", "bonus": 0.0, "assistant": "Scott P.", "price": 0.84999999999999998,
        "api_bid": 1.0, "key": "ahBzfmZhbmN5aGFuZHMtaHJkciULEgZGSFVzZXIYx8L1BQwLEglGSFJlcXVlc3QYgICAgIi0hwoM",
        "phone_calls": [], "messages": [{"content": "Cancelled", "date_created": "2014-05-15T04:24:45.335840",
        "local_date_created": "2014-05-14T22:24:45.335840-06:00", "content_type":
        "text/plain"}], "date_created": "2014-05-15T04:17:19.285810"}, {"user_key":
        "ahBzfmZhbmN5aGFuZHMtaHJkcg8LEgZGSFVzZXIYx8L1BQw", "numeric_s[...]
